<div class="card">
    <div class="card-header">Vidéo d'une recette
    </div>
    <div id="bodyVideo" class="card-body">
        <div class="chart-container-2">
            
        </div>
    </div>
    <div class="table-responsive">
        <table class="table align-items-center">
            <tbody id="videoRecette">
            </tbody>
        </table>
    </div>
</div>