<div class="row">
    <div class="col-12 col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-header">Votre emplacement
                <div class="card-action">
                    <div class="dropdown">
                        <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret"
                            data-toggle="dropdown">
                            <i class="icon-options"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:void();">Action</a>
                            <a class="dropdown-item" href="javascript:void();">Another action</a>
                            <a class="dropdown-item" href="javascript:void();">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void();">Separated link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="map" class="map"></div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover align-items-center">
                    <thead>
                        <tr>
                            <th>Country</th>
                            <th>Income</th>
                            <th>Trend</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><i class="flag-icon flag-icon-ca mr-2"></i> USA</td>
                            <td>4,586$</td>
                            <td><span id="trendchart1"></span></td>
                        </tr>
                        <tr>
                            <td><i class="flag-icon flag-icon-us mr-2"></i>Canada</td>
                            <td>2,089$</td>
                            <td><span id="trendchart2"></span></td>
                        </tr>

                        <tr>
                            <td><i class="flag-icon flag-icon-in mr-2"></i>India</td>
                            <td>3,039$</td>
                            <td><span id="trendchart3"></span></td>
                        </tr>

                        <tr>
                            <td><i class="flag-icon flag-icon-gb mr-2"></i>UK</td>
                            <td>2,309$</td>
                            <td><span id="trendchart4"></span></td>
                        </tr>

                        <tr>
                            <td><i class="flag-icon flag-icon-de mr-2"></i>Germany</td>
                            <td>7,209$</td>
                            <td><span id="trendchart5"></span></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>