<!--Start topbar header-->
<header class="topbar-nav">
    <nav class="navbar navbar-expand">
        <ul class="navbar-nav mr-auto align-items-center">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void();">
                    <div class="media align-items-center">
                        <img src="assets/images/logo-icon.svg" class="logo-icon" alt="logo icon">
                        <div class="media-body">
                            <h5 class="logo-text">Weather Explorer</h5>
                        </div>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <form class="search-bar">
                    <input type="text" class="form-control" placeholder="Votre ville préférée">
                    <a href="javascript:void();"><i class="icon-magnifier"></i></a>
                </form>
            </li>
        </ul>
    </nav>
</header>
<!--End topbar header-->