<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Weather Explorer</title>
  <link rel="icon" href="assets/images/logo-icon.svg" type="image/x-icon">
</head>

<body class="bg-theme bg-theme1" style="position:relative;">

  <!-- start loader -->
  <div id="pageloader-overlay" class="visible incoming">
    <div class="loader-wrapper-outer">
      <div class="loader-wrapper-inner">
        <div class="loader"></div>
      </div>
    </div>
  </div>
  <!-- end loader -->

  <!-- Start wrapper-->
  <div id="wrapper">

    <!--Barre de navigation du haut-->
    <app-barre-ville></app-barre-ville>

    <div class="clearfix"></div>

    <div class="content-wrapper">
      <div class="container-fluid">

        <!-- A propos du dernier utilisateurs -->
        <app-apropos-dernier-utilisateur></app-apropos-dernier-utilisateur>


        <!-- Barre Info -->
        <!-- <app-barre-info></app-barre-info> -->
        <!--End Row-->

        <div class="row">
          <div class="col-12 col-lg-6 col-xl-6">
            <!--Température-->
            <app-temperature #composantTemperature></app-temperature>
          </div>

          <div class="col-12 col-lg-6 col-xl-6">
            <!--Vidéo de recettes-->
            <app-videos-recettes [composantTemperature]="composantTemperature"></app-videos-recettes>
          </div>
        </div>

        <!--Suggestions des musiques-->
        <div class="row">
          <div class="col-12 col-lg-12">
            <app-suggestions-musiques [composantTemperature]="composantTemperature"></app-suggestions-musiques>
            
          </div>
        </div>


        <!--Map du monde-->
        <app-map></app-map>

      </div>
      <!--End Row-->


      <!--End Dashboard Content-->
      <!--start overlay-->
      <div class="overlay toggle-menu"></div>
      <!--end overlay-->

    </div>
    <!-- End container-fluid-->

  </div>
  <!--End content-wrapper-->
  <!--Start Back To Top Button-->
  <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
  <!--End Back To Top Button-->

  <!--Start footer-->
  <footer class="footer" style="position:absolute;bottom:0px">
    <div class="container">
      <div class="text-center">
        Copyright © 2021 AKABLI Abdessamad - MUNAR Marie-Nina - DEROUAULT Baptiste {{ipUtilisateur}}
      </div>
    </div>
  </footer>
  <!--End footer-->

  <!--End wrapper-->
  <!-- Bootstrap core JavaScript-->

</body>

</html>