<div class="row">
    <div class="col-12 col-lg-12 col-xl-12">
        <div class="card">
            <div class="card-header">Votre emplacement
                <div class="card-action">
                    <div class="dropdown">
                        <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret"
                            data-toggle="dropdown">
                            <i class="icon-options"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:void();">Action</a>
                            <a class="dropdown-item" href="javascript:void();">Another action</a>
                            <a class="dropdown-item" href="javascript:void();">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void();">Separated link</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="map" class="map"></div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover align-items-center">
                    <thead>
                        <tr>
                            <th>VILLE</th>
                            <th>TEMPERATURE MOYENNE</th>
                            <th>NOMBRE DE VISITEURS</th>
                        </tr>
                    </thead>
                    <tbody id="mapInfo">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>