<!--Start Dashboard Content-->
<div class="card">
    <div class="card-header">Dernier Utilisateur
        <div class="card mt-3">
            <div class="card-content">
                <div class="row row-group m-0">
                    <div class="col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            
                            <h5 class="text-white mb-0">{{ville.nom}}<span class="float-right"><img src="../../../../assets/icones/ville.png" alt="Image d'une icone ville" height="20px" width="20px" ></span>
                            </h5>
                            <div class="progress my-3" style="height:3px;">
                                <div class="progress-bar" style="width:100%"></div>
                            </div>
                            <p class="mb-0 text-white small-font">Ville<span class="float-right"></span></p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 class="text-white mb-0">{{ville.temperature}}°C <span class="float-right"><img src="../../../../assets/icones/temperature.png" alt="Image d'une icone thérmomètre" height="20px" width="20px" ></span>
                            </h5>
                            <div class="progress my-3" style="height:3px;">
                                <div class="progress-bar" style="width:100%"></div>
                            </div>
                            <p class="mb-0 text-white small-font">Température <span class="float-right"> </span></p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 class="text-white mb-0">{{ville.musiqueProposee}}<span class="float-right"><img src="../../../../assets/icones/musique.png" alt="Image d'une icone musique" height="20px" width="20px" ></span>
                            </h5>
                            <div class="progress my-3" style="height:3px;">
                                <div class="progress-bar" style="width:100%"></div>
                            </div>
                            <p class="mb-0 text-white small-font">Musique proposée</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-3 border-light">
                        <div class="card-body">
                            <h5 class="text-white mb-0">{{ville.videoProposee}}<span class="float-right"><span class="float-right"><img src="../../../../assets/icones/videos.png" alt="Image d'une thérmomètre" height="20px" width="20px" ></span></span></h5>
                            <div class="progress my-3" style="height:3px;">
                                <div class="progress-bar" style="width:100%"></div>
                            </div>
                            <p class="mb-0 text-white small-font">Vidéo proposée<span class="float-right"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>