<div class="card">
    <div class="card-header">Température{{temperature.information}}
    </div>
    <div class="card-body">
        <ul class="list-inline">
            <li class="list-inline-item"><i class="fa  text-basse"></i>Basse</li>
            <li class="list-inline-item"><i class="fa  text-haute"></i>Haute</li>
        </ul>
        <div class="chart-container-1">
            <canvas id="chart1"></canvas>
        </div>
    </div>

    <div class="row m-0 row-group text-center border-top border-light-3">
        <div class="col-12 col-lg-4">
            <div class="p-3">
                <h5 class="mb-0">{{temperature.forceVent}}km/h</h5>
                <small class="mb-0">Force du Vent <span> <i id="forceVent" class="fa fa-arrow-up"></i></span></small>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="p-3">
                <h5 class="mb-0">{{temperature.temperature}}°C</h5>
                <small class="mb-0">Température <span> <i id="temperature" class="fa fa-arrow-right"></i></span></small>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="p-3">
                <h5 class="mb-0">{{temperature.humidite}}%</h5>
                <small class="mb-0">Humidité <span> <i id="humidite" class="fa fa-arrow-right"></i></span></small>
            </div>
        </div>
    </div>

</div>