<div class="card">
    <div class="card-header">Statistiques - {{statistiques.nomVille}}
        <div class="card-action">
            <div class="dropdown">
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="media-body ml-3">
                                <h5 class="text-white mb-0">Température moyenne <span class="float-right">{{statistiques.temperatureMoyenne}} °C</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="media-body ml-3">
                                <h5 class="text-white mb-0">Nombre de visites <span class="float-right"> {{statistiques.nombreVisites}} </span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="media-body ml-3">
                                <h5 class="text-white mb-0">Nombre de musiques <span class="float-right">{{statistiques.nombreVideosGenerees}}</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-12 col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center">
                            <div class="media-body ml-3">
                                <h5 class="text-white mb-0">Nombre de vidéos <span class="float-right"> {{statistiques.nombreMusiquesGenerees}} </span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
