<div class="card">
    <div class="card-header">Suggestions de musique sur Spotify
    </div>
    <div class="table-responsive">
        <table class="table align-items-center table-flush table-borderless">
            <thead>
                <tr>
                    <th>Musique</th>
                    <th>Titre</th>
                    <th>Artiste</th>
                    <th>Album</th>
                    <th>Date</th>
                    <th>Durée</th>
                </tr>
            </thead>
            <tbody id="suggestionsMusiques">
            </tbody>
        </table>
    </div>
</div>