.text-haute{
    background : rgba(255, 87, 87, 0.5);
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right:5px;
}
.text-basse{
    background : rgba(140, 159, 255, 1);
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right:5px;
}