<div class="card">
    <div class="card-header">Suggestions de musique sur Spotify
        <div class="card-action">
            <div class="dropdown">
                <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                    <i class="icon-options"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="javascript:void();">Action</a>
                    <a class="dropdown-item" href="javascript:void();">Another action</a>
                    <a class="dropdown-item" href="javascript:void();">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void();">Separated link</a>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table align-items-center table-flush table-borderless">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Musique</th>
                    <th>Artiste</th>
                    <th>Album</th>
                    <th>Date</th>
                    <th>Durée</th>
                </tr>
            </thead>
            <tbody id="suggestionsMusiques">
            </tbody>
        </table>
    </div>
</div>